@use "../custom" as *;
@use "../components/mixins" as *;

// Featured posts

.featured-section
{
    @include media-breakpoint-up(sm)
    {
        padding: 0;
    }

    .featured-content
    {
        .featured-post
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;

            @include media-breakpoint-down(md)
            {
                grid-template-columns: 1fr;
                gap: 5px;
            }

            .featured-card
            {
                width: 100%;
                max-height: 600px;
                position: relative;
                background-position: bottom;
                background-size: cover;
                background-repeat: no-repeat;

                &::before
                {
                    content: "";
                    display: block;
                    height: 0%;
                    width: 0%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background-color: rgba(38, 12, 133, 0.411);
                    transition: all 500ms;
                }

                &:hover::before
                {
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }
                
                @include media-breakpoint-down(md)
                {
                    grid-row: unset; 
                    height: 200px; 
                }
            }

            .featured-link
            {
                width: 100%;
                height: 100%;
                display: flex;            
            }

            .post-content
            {
                position: absolute;
                bottom: 1rem;   
                padding: 1.5rem;
                box-sizing: border-box;
                color: $white;
                
                @include media-breakpoint-down(lg)
                {               
                    bottom: 0.5rem;   
                    padding: 0.8rem;
                }           
            }

            .featured-grid
            {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.5rem;
                
                @include media-breakpoint-down(md)
                {
                    grid-template-columns: 1fr;
                    gap: 5px;
                }

                .featured-item
                {
                    width: 100%;
                    height: 100%;   
                    position: relative;   
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    &::before
                    {
                        content: "";
                        display: block;
                        height: 0%;
                        width: 0%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        background-color: rgba(38, 12, 133, 0.411);
                        transition: all 500ms;
                    }

                    &:hover::before
                    {
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }
                }

                .item-1
                {
                    grid-row: 1/3;                               
                    
                    @include media-breakpoint-down(lg)
                    {
                        grid-column: 1/3; 
                        height: 150px; 
                    }   
                    
                    @include media-breakpoint-down(md)
                    {
                        grid-row: unset; 
                        height: 200px; 
                    } 
                }

                .item-2
                {
                    height: 200px;                               
                    
                    @include media-breakpoint-down(lg)
                    {
                        grid-column: 1/3; 
                        height: 150px; 
                    } 
                }

                .item-3
                {
                    height: 200px;                               
                    
                    @include media-breakpoint-down(lg)
                    {
                        grid-column: 1/3; 
                        height: 150px; 
                    } 
                
                }
            }
        }
    }

}


// Category Wise Section
.catBox
{

    @include media-breakpoint-up(sm)
    {
        padding: 0 0.5rem 0 0;
    }

    .catPostBox
    {
        width: 100%;
        position: relative;
        padding: 1rem 0;
        box-sizing: border-box;

        @include media-breakpoint-down(md)
        {
            padding: 0.5rem 0;
        }

        &:hover .catPostImg > img
        {
            object-position: center;
            filter: grayscale(0%);
        } 

        .catPostImg
        {
            position: relative;
            min-height: 350px;

            @include media-breakpoint-down(lg)
            {
                min-height: 320px;
            }

            img
            {
                width: 100%;
                height: 250px;
                object-fit: cover;
                object-position: top;
                transition: all 500ms ease;
                filter: grayscale(80%);
            }
        }

        .catPostText
        {
            position: absolute;
            top: 130px;
            padding: 1.5rem;
            width: 86%;
            left: 7%;
            box-sizing: border-box;
            background-color: #fbfbfb;
            box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);

            @include media-breakpoint-down(lg)
            {
                top: 125px;
                padding: 1.2rem;
            }

            @include media-breakpoint-down(md)
            {
                top: 115px;
                padding: 1rem;
            }

            .cat-title-link
            {
                text-decoration: none;
                color: $primary;    
                width: 100%;
                height: 100%;
                display: flex;
            }

            .cat-post-title
            {
                font-size: 1.1rem;
                font-weight: bold;
            }

            .cat-post-subtitle
            {
                font-size: 0.8rem;
                color: $gray-600;
            }
        }
    }

    .catPostItem
    {
        min-height: 120px; 
        position: relative;
        box-sizing: border-box;
        
        &:hover .cat-small-img
        {
            transform: scale(1.5);
            filter: grayscale(0%);
        }

        .cat-title-link
        {
            text-decoration: none;
            color: $primary;    
            width: 100%;
            height: 100%;
            display: flex; 
        }

        .cat-sm-img-box
        {
            overflow: hidden;
            position: relative;
            height: 120px;
            box-sizing: border-box;

            .badgeTag
            {
                position: absolute;
                bottom: 5px;
                left: 5px;
            }

            .badgeDate
            {
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .cat-small-img
            {
                width: 100%;
                height: 120px;
                object-fit: cover;
                object-position: top;
                filter: grayscale(0%);
                transition: all 200ms;
            }

        }

        .cat-post-small
        {        
            .cat-post-title
            {
                font-size: 1rem;
                font-weight: bold;
            }

            .cat-post-subtitle
            {
                font-size: 0.8rem;
                color: $gray-600;
            }
        }
    }

}

// Recent Posts Section
.recentPosts
{
    min-height: 452px;
    padding: 0 0.5rem 0 0;

    @include media-breakpoint-down(lg)
    {
        min-height: 480px;
    }

    @include media-breakpoint-down(md)
    {
        min-height: 445px;
        padding: 0;
    }

    .recentPostBox
    {
        width: 100%;
        position: relative;
        padding: 1rem 0;
        box-sizing: border-box;
        margin-bottom: 1rem;
        
        @include media-breakpoint-down(lg)
        {
            padding: 0.25rem 0;
        }

        &:hover .recentPostImg > img
        {
            object-position: center;
            filter: grayscale(0%);
        } 

        .recentPostImg
        {
            position: relative;
            height: 420px;

            @include media-breakpoint-down(lg)
            {
                height: 400px;
            }

            img
            {
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: top;
                transition: all 500ms ease;
                filter: grayscale(80%);
                
                @include media-breakpoint-down(lg)
                {
                    height: 260px;
                }

                @include media-breakpoint-down(md)
                {
                    height: 250px;
                }

            }
        }

        .recentPostText
        {
            position: absolute;
            top: 160px;
            padding: 1.5rem;
            width: 76%;
            left: 12%;
            box-sizing: border-box;
            background-color: #fbfbfb;
            box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
            
            @include media-breakpoint-down(lg)
            {                 
                width: 90%;
                top: 120px; 
                left: 5%;             
                padding: 1rem;
            }  

            .recent-post-title
            {
                font-size: 1.3rem;
                font-weight: bold;

                @include media-breakpoint-down(md)
                {
                    font-size: 1rem;
                }
            }

            p
            {
                font-size: 1rem;
            }
        }
    }

}

// Recent Post redesigned
.recPost
{
    &:hover .recPostImg
    {               
        transform: rotateZ(5deg) scale(1.3);               
    }  
      
    .recImgBox
    {
        position: relative;
        overflow: hidden;  
        padding: 0; 
        max-height: 250px;

        @include media-breakpoint-down(lg)
        {
            max-height: 300px;
        }

        @include media-breakpoint-down(md)
        {
            max-height: 250px;
        }

        .recPostImg
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 600ms;            
        }
    }   

    .recPostContent
    {   
        .recPostTitle
        {
            font-size: 1.6rem;
        
            @include media-breakpoint-down(md)
            {
                margin-top: 1rem;
            }
        }
        
    }
}